{% extends "app/base.html" %}
{% load static %}

{% block title %} | job {% endblock %}


{% block content %}


<style>


</style>

<div id="content" class="site-content center-relative">


    <div class="container shadow mt-5 mb-5">
          <div class="col-lg-12 text-center" style="color: #243781">
            <h2>Jobs</h2>
          </div>
        
    </div>

    
    <div class="container mt-5 mb-5">
    <div class="row mt-5 shadow">
        <div id="content" class="site-content center-relative">
            <article class="relative blog-item-holder center-relative has-post-thumbnail">
                <div class="devhead">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12 text-center">
                                {% for job in jobs %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-6 mb-lg-0 text-center text-lg-start">
                                            <h2 class="title-st display-4 lh-1 mb-4">{{ job.name }}</h2><br />
                                            <div class="col-sm-12" style="float: left;">
                                                <p class="py-2 justify">{{ job.description }}</p>
                                                <h5 class="py-2 justify">Copany Name: {{ job.company_name }}</h5>
                                                <h6 class="py-2 justify">started At: {{ job.started_at }}</h6>
                                                <h6 class="py-2 justify">Ended At : {{ job.ended_at }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
    


</div>

{% endblock %}